.delete-button-wrapper {
  position: absolute;
  &:hover {
    cursor: pointer;
  }
}
.delete-button-svg {
  fill: var(--close-button-color);
  &:hover {
    fill: var(--close-button-hover-color);
  }
}
