.line {
  fill: none;
  stroke: var(--accent-base);
  stroke-width: 3;
}
.focus-circle {
  fill: none;
  stroke-width: 2;
  stroke: var(--primary-base);
}
.tooltip {
  opacity: 0;

  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: white;
  border: solid 2px black;
  border-radius: 5px;
  padding: 5px;
}
.x-axis{
  font-size: 12px;
}
.y-axis{
  font-size: 15px;
}
.tooltip-value{

}
.tooltip-date{

}
.intersect-line{

}
.overlay{

}
.tooltip-rect{
  background-color: orangered;
}