.line {
  fill: none;
  stroke: var(--primary-base);
  stroke-width: 3;
}
.focus-circle {
  fill: var(--primary-base);
}
.tooltip {
  opacity: 0;
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: white;
  padding: 5px;
}
.x-axis {
  font-size: 12px;
}
.y-axis {
  font-size: 15px;
}
.tooltip-value {
}
.tooltip-date {
}
.intersect-line {
}
.overlay {
}
.tooltipBox {
  opacity: 0.0;
}
.x{
  stroke: var(--accent-base);
  stroke-width: 3;
}