.dd-wrapper {
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  background-color: var(--nav-background-color);
}
.dd-header {
}
.dd-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.dd-list-item {
  cursor: pointer;
  color: var(--inactive-text-color);
  padding: 10px;
  width: 100%;
  &:hover {
    color: var(--active-text-color);
    background-color: var(--button-hover-background-color);
  }
}
