:root {
  //color scheme
  --primary-base: #1965B1;
  --primary-light4: white;
  --primary-light3: #EBF3FF;
  --primary-light2: #7947ff;
  --primary-light1: #502aff;
  --primary-dark1: #0A3299;
  --primary-dark2: #062060;
  --primary-dark3: #020D26;
  --accent-base: #039BE5;
  --accent-light2: #00F562;
  --accent-light1: #00E05A;
  --accent-dark1: #00B849;
  --accent-dark2: #00A341;
  --error-base: #ea0000;
  --error-light2: #ff5c38;
  --error-light1: #ff3a1f;
  --error-dark1: #c90000;
  --error-dark2: #a80000;
  --info-base: #2196f3;
  --info-light2: #75ccff;
  --info-light1: #51b0ff;
  --info-dark1: #007cd6;
  --info-dark2: #0064ba;
}