.add-exchange-data-row {
  padding: 5px;
}
.add-exchange-row-label {
}
.add-exchange-row-input {
  padding: 0 5px;
  border: 1px solid black;
  border-radius: 3px;
  position: absolute;
  right: 0px;
}
.add-exchange-form {
  margin: 20px;
  width: 300px;
  position: relative;
}
