.exchange-popup-wrapper{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1000px;
}
.my-exchanges-wrapper{

}
.my-exchanges-label-container{
  width: 100%;

}
.my-exchanges-label{

}
.add-exchange-wrapper{

}
.my-exchanges-list-container{
  padding: 10px;

}