.exchange-popup-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10%;
}
.exchange-popup-innner-wrapper {
  position: relative;
  background-color: blue;
}

.my-exchanges-wrapper {
}
.my-exchanges-label-container {
  width: 100%;
}
.my-exchanges-label {
}
.add-exchange-wrapper {
}
.my-exchanges-list-container {
  padding: 10px;
}

