.nav-container {
  font-weight: 500;
  font-size: 1em;
  display: flex;
  width: 100%;
  height: 57px;
  align-items: center;
  background-color: var(--nav-background-color);
  border-bottom: var(--nav-border);
}
  .nav-branding-area-container {
    flex-shrink: 0;
    width: 280px;
    height: 100%;
    font-weight: 800;
    font-size: 1.8em;
    color: white;
  }
  .nav-flex-spacer {
    width: 100%;
    height: 100%;
  }
  .account-links-container {
    display: flex;
    justify-content: space-between;
  }
    .orders-btn, .portfolio-btn {
      width: var(--nav-order-btn-width);
    }
    .trade-btn {
      flex-shrink: 0;
      width: var(--nav-trade-btn-width);
    }
    .text-nowrap{
      white-space: nowrap;
    }
    .account-btn-item-group{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 0 20px;
      width: 100%;
    }
    .account-btn-user-photo{
      width: 30px;
      height: 30px;
      border-radius: 8px;
      margin: 0 10px;
    }
  .nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--inactive-text-color);
    height: 57px;
    border-right: var(--nav-border);
    border-left: var(--nav-border);
    &:hover {
      background-color: var(--button-hover-background-color);
      color: var(--active-text-color);
      cursor: pointer;
    }
  }
  .active-page-btn{
    border-bottom: 3px solid var(--active-page-btn-underline-color);
    color: var(--active-text-color);
  }
