//color selections
$nav-background-color: #060d13;
$active-text-color: white;
$inactive-text-color: #6a6e62;
$button-hover-background-color: #121d27;
$nav-border: 1px solid #262d34;
$active-page-btn-underline-color: #0e7dff;
//button widths
$nav-trade-btn-width: 92px;
$nav-order-btn-width: 130px;


.nav-container {
  font-weight: 500;
  font-size: 1em;
  display: flex;
  width: 100%;
  height: 57px;
  align-items: center;
  background-color: $nav-background-color;
  border-bottom: $nav-border;
}
  .nav-branding-area-container {
    flex-shrink: 0;
    width: 280px;
    height: 100%;
    font-weight: 800;
    font-size: 1.8em;
    color: white;
  }
  .nav-flex-spacer {
    width: 100%;
    height: 100%;
  }
  .account-links-container {
    display: flex;
    justify-content: space-between;
  }
    .orders-btn, .portfolio-btn {
      width: $nav-order-btn-width;
    }
    .trade-btn {
      flex-shrink: 0;
      width: $nav-trade-btn-width;
    }
    .text-nowrap{
      white-space: nowrap;
    }
    .account-btn-item-group{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 0 20px;
    }
    .account-btn-user-photo{
      width: 30px;
      height: 30px;
      border-radius: 8px;
      margin: 0 10px;
    }
  .nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $inactive-text-color;
    height: 57px;
    border-right: $nav-border;
    border-left: $nav-border;
    &:hover {
      background-color: $button-hover-background-color;
      color: $active-text-color;
      cursor: pointer;
    }
  }
  .active-page-btn{
    border-bottom: 3px solid $active-page-btn-underline-color;
    color: $active-text-color;
  }
