* {
  cursor: default;
}
body,
html {
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  width: 4px; /* width of the entire scrollbar */
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-base); /* color of the scroll thumb */
  border-radius: 50px; /* roundness of the scroll thumb */
}
