* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
  cursor: default;
}
body,
html {
  font-size: 17px;
  height: 100%;
  font-family: Metropolis;
}
#app-wrapper,
#app {
  height: 100%;
}
.center-my-children {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-my-children-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
input {
  &:focus {
    outline: none;
  }
}
