:root {
  //color selections
  --nav-background-color: #060d13;
  --active-text-color: white;
  --inactive-text-color: #6a6e62;
  --button-hover-background-color: #121d27;
  --nav-border: 1px solid #262d34;
  --active-page-btn-underline-color: #0e7dff;

  --close-button-color: black;
  --close-button-hover-color:  red;
  //button widths
  --nav-trade-btn-width: 92px;
  --nav-order-btn-width: 130px;
}